<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NonStandardAds</title>
</head>
<body>


<div>
    <span>Native Ads</span>

</div>
<!--native ads-->
<div data-glade data-ad-unit-path="/14028434/sage/native" width="700" height="300" ></div>
<script async='async' src='https://securepubads.g.doubleclick.net/static/glade.js'></script>
<!--<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>-->
<!--<script>-->
    <!--var googletag = googletag || {};-->
    <!--googletag.cmd = googletag.cmd || [];-->
<!--</script>-->

<!--<script>-->
    <!--googletag.cmd.push(function() {-->
        <!--googletag.defineSlot('/14028434/sage/native', [700, 300], 'div-gpt-ad-1527004066709-0').addService(googletag.pubads());-->
        <!--googletag.pubads().enableSingleRequest();-->
        <!--googletag.enableServices();-->
    <!--});-->
<!--</script>-->


<!--&lt;!&ndash; /14028434/sage/native &ndash;&gt;-->
<!--<div id='div-gpt-ad-1527004066709-0' style='height:300px; width:700px;'>-->
    <!--<script>-->
        <!--googletag.cmd.push(function() { googletag.display('div-gpt-ad-1527004066709-0'); });-->
    <!--</script>-->
<!--</div>-->




<div>
    <span>Banner Ads</span>
</div>
<div style="width:700px;height:300px;border: 1px;border-style:solid">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle" responsive-dynamic
         style="display:inline-block;width:468px;height:60px"
         data-ad-client="ca-pub-3285741363974337"
         data-ad-slot="7640094746">
    </ins>

    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<div style="width:700px;height:300px;border: 1px;border-style:solid">

    <ins class="adsbygoogle"
         style="display:inline-block;width:4px;height:0px"
         data-ad-client="ca-pub-3285741363974337"
         data-ad-slot="7640094746"
    >
    </ins>

    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>


<!--<script type="text/javascript" th:inline="javascript">-->
<!--/*<![CDATA[*/-->
<!--google_ad_client = "ca-pub-3285741363974337";-->
<!--google_ad_width = 250  ;-->
<!--google_ad_height =100 ;-->

<!--/*]]>*/-->
<!--</script>-->
<!--<script type="text/javascript"-->
<!--src="//pagead2.googlesyndication.com/pagead/show_ads.js">-->
<!--</script>-->

<!--<script type="text/javascript">&lt;!&ndash;-->
<!--google_ad_client = "ca-pub-4372438221902208";-->
<!--/* 测试700x300 */-->
<!--google_ad_slot = "8851196433";-->
<!--google_ad_width = 700;-->
<!--google_ad_height = 300;-->
<!--//&ndash;&gt;-->
<!--</script>-->
<!--<script type="text/javascript"-->
<!--src="//pagead2.googlesyndication.com/pagead/show_ads.js">-->
<!--</script>-->

</body>
</html>