<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
    <script>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
    </script>

    <script>
        // var adunit = "/50378101/sage/m_c2b";
        var adunit = "/21723872916/qmtv/c2b/mobile";
        googletag.cmd.push(function() {
            googletag.defineSlot(adunit, [ 50.0 ,  50.0 ], 'div-gpt-ad-1528992231912-0')
                // .setTargeting("roomid", "xx")
                // .setTargeting("gameid", "xx")
                .addService(googletag.pubads());
            googletag.pubads().enableSingleRequest();
            googletag.enableServices();
        });
    </script>
</head>
<body style="background-color: transparent;">


<div id='div-gpt-ad-1528992231912-0' style='height:50px; width:50px;background-color: transparent'>
    <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1528992231912-0'); });
    </script>
</div>

</body>
</html>