<html>


<head>

    <script>
        function call() {
            // var lp = "https://www.ef.com.cn/online/lp/cn/2016yr/mobile/odb/newdesign_phase2_hg1.aspx?ptn=smgg&etag=dbm-livestream-odb";
            // document.location = "%%CLICK_URL_UNESC%%"+lp;
            var url = "https://m.baidu.com"
            // var url = "https://www.ef.com.cn/online/lp/cn/2016yr/mobile/odb/newdesign_phase2_hg1.aspx?ptn=smgg&etag=dbm-livestream-odb?clk=%%CLICK_URL_ESC%%";
            document.location = url;
        }
    </script>
</head>

<body marginwidth="0" marginheight="0">
<img class="itemimage" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7v4IKFY0QkPTA6sYyP0MgPSLdamR8KjnJFW3izcgbs0bEqAXCAg"
     onclick="call()" style="width:80px;height:80px"/>

</body>
</html>