<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script type="text/javascript" src="safeframe/base.js"></script>-->
    <!--<script type="text/javascript" src="safeframe/host.js"></script>-->
    <!--<script type="text/javascript" src="safeframe/boot.js"></script>-->
</head>
<body>

<script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
<script>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
</script>

<script>
    googletag.cmd.push(function() {
        googletag.defineSlot('/50378101/sage/safe_c2b', [80, 80], 'div-gpt-ad-1531293955950-0').addService(googletag.pubads());
        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
    });
</script>


<!-- /50378101/sage/safe_c2b -->
<div id='div-gpt-ad-1531293955950-0' style='height:80px; width:80px;'>
    <script>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1531293955950-0'); });
    </script>
</div>




<script type="text/javascript">
    var sfAPI = window.sfAPI || $sf.ext;

    window.onload = function () {
        var inscreen = false;

        var refreshIntervalId = setInterval(function() {
            if(sfAPI.inViewPercentage() == 100) {
                // Start animation if inscreen
            }
        }, 500);
    };
</script>





</body>
</html>