<html>
<!--<iframe src="http://localhost:8080/banner" style="width:1001px;height:615px;"/>-->
<!--<iframe src="https://p.m.jd.com/norder/freeRegister.action?pcqr==1&bid=&scene=jd&isCanEdit=1&EncryptInfo=&Token=&commlist=1892028,,1,1892028,1,0,0&locationid=&type=0&lg=0&supm=0&v=&sceneval=2&ufc=e67c5556109dd6880ea10f12bfb60268&wareId=1892028&wareNum=1&enterOrder=true&sid=392b066b234226533a4f52518e979271&vk=" style="width:350px;height:615px;"/>-->
<iframe src="https://m.jd.com/index.html?pcqr=1" style="width:350px;height:615px;"/>
</html>

