


<html>
<head>
    <title>SafeFrame Test</title>
    <script type="text/javascript" src="safeframe/base.js"></script>
    <script type="text/javascript" src="safeframe/host.js"></script>
    <script type="text/javascript" src="safeframe/boot.js"></script>



    <!-- begin global js -->
    <script language="javascript" src="http://www.iab.net/media/system/js/shared/AWCShared.js"></script>
    <!-- end global js -->

    <link rel="stylesheet" href="http://www.iab.net/media/css/AWCTemporary-d38810e87de76db80a3f0fd29a29dd66.css" type="text/css"/>
</head>
<body class="tundra">
Above the ad
<!--<div id="globalnav">-->
    <!--<div id="sectiontop">-->
        <!--<div id="leaderboard">-->
            <!--<div id="header-adspace">&lt;!&ndash; iab.net &ndash;&gt;-->
                <!--<div class="leaderboardWrapper"><div id="leaderboardAd" style="height:90px;" class="adBg"></div></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<p>

<script type='text/x-safeframe' class='sf_data' id="sf_tag_1" >
{
	"id" : "ad1LREC",
	"html" : "<div>teststeete</div>",
	"conf" :
		{
		"size" : "728x90",
		"dest":	"top_leaderboard"
		},
	"meta" :
	{
		"rmx":
		{
			"sectionID" : "14800347",
			"siteID" : "140509"
		}
	}
}
</script>





Below the ad.

<script type="text/javascript">
    (function() {
        var conf	= new $sf.host.Config({
            renderFile:		"safeframe/r.html",
            positions: {}
        });
    })();

</script>

</body>
</html>